html {
  position: relative;
  min-height: 100%;
}
@font-face {
  font-family: "bebas-neue";
  src: local("BebasNeue"),
    url(./fonts/bebasneue-regular-webfont.woff) format("woff");
}

body {
  margin-bottom: 40px;
  padding-bottom: 100px; /* Margin bottom by footer height */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #fada9e;
  z-index: 10;
}

#return-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cloudinaryImg {
  width: 300px;
}

.big-div {
  width: 100%;
  text-align: center;
  position: relative;
}

.centered-home {
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 3px;
  top: 90%;
  left: -15%;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: "bebas-neue";
}

.btn {
  background-color: #e2e2e2;
  border: solid 1px #888888;
  color: #050609;
  font-family: Helvetica;
}

p {
  font-family: Helvetica, sans-serif;
}

.btn:hover {
  background-color: rgba(106, 163, 180, 0.6);
  border: solid 1px #888888;
  color: #050609;
}

.bug-details-link {
  border: 1px solid #888888;
  width: 800px;
  height: 50px;
  margin: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
} */


/* STEPS */

.steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}

.steps li {
  display: inline-block;
  margin: 20px;
  color: #ccc;
  padding-bottom: 5px;
}

.steps li.is-active {
  border-bottom: 1px solid #3498db;
  color: #3498db;
}

#account-info {
  position: fixed;
  bottom: 55px;
  left: 15px;
}
#acct-info {
  background-color: #6aa3b4;
  color: white;
}
.nav-color {
  background-color: #fada9e;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-link {
  z-index: 11;
}
#submit-bug {
  position: fixed;
  left: 178px;
  top: 9px;
  color: #050609;
}
#about {
  position: fixed;
  left: 282px;
  top: 9px;
  color: #050609;
}
#create-account {
  position: fixed;
  left: 335px;
  top: 9px;
  color: #050609;
}
#login {
  position: fixed;
  right: 70px;
  top: 9px;
  color: #050609;
}
ul {
  list-style-type: none;
}
#customer-support {
  position: fixed;
  left: 434px;
  top: 9px;
  color: #050609;
}
#dashboard {
  position: fixed;
  left: 334px;
  top: 9px;
  color: #050609;
}
#logout {
  position: fixed;
  right: 70px;
  top: 9px;
  color: #050609;
}

#brand {
  color: #050609;
}


.about-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  margin-left: 12vw;
}

.bug-details-link:hover {
  background-color: rgba(106, 163, 180, 0.6);
}

.left-half {
  margin: 30px;
  margin-left: -25vw;
  padding: 10px;
  width: 30em;
}

.right-half {
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

.codeblock {
  background-color: #e2e2e2;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  width: 105%;
}

.gitIcon {
  text-decoration: none;
  color: #fada9e;
}

.gitIcon:hover {
  color: rgba(106, 163, 180, 0.6);
}

#orcas {
  border: 2px solid #888888;
  border-radius: 60%;
  margin: 10px;
}

.orca-lineup {
  display: flex;
  justify-content: space-evenly;
  margin: 70px 0px 150px 20px;
}

.about-us {
  text-align: center;
  padding: 30px;
  font-family: "bebas-neue";
}

.orca-jobs {
  font-size: 11px;
  font-family: Helvetica;
}

.orca-names {
  font-size: 17px;
  border-bottom: 1px solid #040609;
  font-family: Helvetica;
}

.edrees-img {
  padding: 20px;
  min-width: 250px;
  text-align: center;
}

.simone-img {
  padding: 20px;
  min-width: 250px;
  text-align: center;
}

.jax-img {
  padding: 20px;
  min-width: 250px;
  text-align: center;
}

.nicole-img {
  padding: 20px;
  min-width: 250px;
  text-align: center;
}

.orca-names {
  font-size: 17px;
  border-bottom: 1px solid #040609;
  font-family: Helvetica;
}
#footer-color {
  color: #050609;
  z-index: 12;
}
.userInfo {
  text-align: center;
  border: 2px solid black;
  position: relative;
  width: 700px;
}
#users {
  margin-right: 45px;
}
#uai {
  position: absolute;
  right: 3px;
  bottom: 0;
}
#buttonz {
  display: flex;
  width: 67%;
  justify-content: space-between;
}

#act {
  font-family: "bebas-neue";
}


/* ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp */

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
} 


.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }


#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type="button"].fadeIn.fourth,
  .Submits,
 .Backs,
 .Nexts {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
.Backs:hover,
  .Submits:hover,
  .Nexts:hover {
    background-color: #39ace7;
  }
  
  .Backs:hover,
  .Submits:hover,
  .Nexts:hover {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
.titles,
.descriptions {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  .titles:focus,
  .descriptions:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  .titles::placeholder,
  .descriptions::placeholder {
    color: #cccccc;
  }
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
  
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after {
    width: 100%;
  }
  
  /* OTHERS */
  
  *:focus {
    outline: none;
  }
  
  #icon {
    width: 60%;
  }
  
  * {
    box-sizing: border-box;
  }


  .info {
      text-align: start;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 20px;
  }



.loginsub { 
    position: relative;
    top:0px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    margin-top: 0px;
    /* background: #800080; */
    border: 1px solid #800080;
    color: black;
}
.upload {
    margin-top: 15px;
    background: #800080;
    border: 1px solid #800080;
    color: #ffffff;
}

.upload:hover {
    margin-top: 15px;
    background: #4b0082;
    border: 1px solid #4b0082;
    color: #ffffff;
}

.displayed-image {
    height: 140px;

}

.wrapit {
    padding: 20px;
}


.feedback{
    font-size: 14px;
}
