code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logout-link {
    cursor: pointer;
}
